.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 40px; /* Separacion entre los elementos */
    padding: 40px;
    justify-content: center;
}

@media (max-width: 560px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}