@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    width: 100%;
    background-color: #973252;
    color: white;
    margin-top: 150px;
}

.containerFooterAll {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.containerBody {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 600px;
}

.colum1 h2 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.colum2 {
    max-width: 600px;
}

.colum2 h2 {
    font-size: 22px;
}

.colum2 .row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.containerFooter {
    width: 100%;
    background-color: #711331;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.copi {
    color: #c7c7c7
}

@media screen and (max-width: 1100px) {
    .containerBody {
        flex-wrap: wrap;
    }

    .colum1 {
        width: 350px;
    }

    .colum2 {
        padding-top: 40px;
    }
    
    p {
        width: 350px;
    }

    footer {
        width: 100vh;
    }


}

